<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PhatStudio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PhatStudio.Properties.Settings>
            <setting name="MySize" serializeAs="String">
                <value>660, 370</value>
            </setting>
            <setting name="MyState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="HighlightOpenFiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExcludedExtensions" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>.bmp</string>
                        <string>.dll</string>
                        <string>.exclude</string>
                        <string>.gif</string>
                        <string>.jpg</string>
                        <string>.pdb</string>
                        <string>.pdf</string>
                        <string>.png</string>
                        <string>.swf</string>
                        <string>.wav</string>
                        <string>.zip</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="RelatedExtensions" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>cpp|h</string>
                        <string>cpp|hpp</string>
                        <string>hpp|c</string>
                        <string>hpp|cpp</string>
                        <string>h|c</string>
                        <string>h|cpp</string>
                        <string>c|h</string>
                        <string>aspx.cs|aspx</string>
                        <string>ascx.cs|ascx</string>
                        <string>aspx|aspx.cs</string>
                        <string>ascx|ascx.cs</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ShowFacebookLink" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RelativePaths" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExplorerVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowDirectory" serializeAs="String">
                <value>True</value>
            </setting>
        </PhatStudio.Properties.Settings>
    </userSettings>
</configuration>